<body>
<mat-card>
  <mat-card-title>Login Here</mat-card-title>
  <mat-card-content>
    <form class="example-form" #thisFormType = "ngForm" (submit)="checkValidate(thisFormType)">
      <mat-form-field class="example-full-width field">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Your Username" ngModel required name = "username">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width field">
        <mat-label>Password</mat-label>
        <input  type='Password' matInput placeholder="Your Password" name = "password" ngModel required>
      </mat-form-field>
      <button class="button" mat-raised-button color="primary" type='submit'>Log in</button><br>
    </form>
  </mat-card-content>
</mat-card>
<div class = "temp-info">
  <div class = "info">
    <h2>For Checking Admin mode </h2>
    <h4>UserName:818</h4>
    <h4>Password:1111</h4>
  </div>


  <div class = "info">
    <h2>For Checking Student mode </h2>
    <h4>UserName:101</h4>
    <h4>Password:1111</h4>
  </div>
</div>
</body>
